#wrapper {width:480px;}

div.tweetcontent {width: 90%}

div.status div.update-text {height: auto;}

.story-details blockquote {width: 300px;}

#searchwrapper {margin-left: 25px; width: 169px;}
.searchbox_submit {left: 140px;}
.gan_125x125 {margin-left: 5px;}
