
/* ---- */
body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height:1.25em;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}
a {
    color: #246;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* ---- */
#header {
    padding: 10px 0px 6px 0;
    color: #fff;
    background-color: #246;
}
#sitename {
    font-size: 1.25em;
    font-family: "American Typewriter", Courier, monospace;
}
#tagline {
    text-align: right;
    font-size: 0.75em;
}
#tagline code {
    font-family: Menlo, "Lucida Console", monospace;
}

/* ---- */
#nav {
    padding: 20px 0 8px 0;
    border-bottom: 2px solid #000;
    color: #fff;
    background-color: #246;
}
#channels {
    font-family: Helvetica, “Helvetica Neue”, Arial, sans-serif;
}
#channels li {
    display: inline;
    margin-right: 4px;
}
#channels a {
    padding: 6px 8px 4px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffc;
}
#channels a:hover {
    text-decoration: none;
    background-color: #124;
}
.special_channel a {
    background-color: #124 !important;
}
li#current_channel a {
    color: #000;
    background-color: #ffc !important;
}
#nav_links {
    font-size: 0.75em;
}
#nav_links a {
}


/* ---- */
#channel_title {
    padding: 10px 0 7px 0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}
#channel_title h1 {
    font-weight: normal;
    font-size: 1.25em;
}

#search {
    text-align: right;
}
#search_box {
    font-family: arial, sans-serif;
    font-size: 1em;
    margin: 0;
    background-color: #fff;
    border: 1px solid #888;
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#search_button {
    vertical-align: top;
    margin: 0;
}


/* ---- */
#story_col {
    font-size: 0.875em;
    padding-top: 10px;
}
#stories a {
    color: #258;
}
#stories tr {
    border-bottom: 1px solid #eee;
}
#stories tr:last-child {
    border-bottom: 0;
}
#stories tr:first-child {
    border-bottom: 1px solid #ddd;
}
#stories td, #stories th {
    padding-left: 4px;
    padding-right: 4px;
}
#stories td {
    padding-top: 8px;
    padding-bottom: 16px;
}
#stories th {
    padding-bottom: 4px;
    font-weight: normal;
    text-align: left;
}
.story_sorting {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.875em;
}
.story_sorting span, .story_sorting a {
    font-weight: bold;
    padding: 3px 8px 3px 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.story_sorting .currsort {
    color: #fff;
    background-color: #222;
}
.story_sorting .sort {
    color: #000 !important;
}
.story_sorting .sort:hover {
    text-decoration: none;
    background-color: #ddf;
    cursor: pointer;
}
.story_topic {
    font-weight: bold;
    min-width: 8em;
}
.story_topic img {
    vertical-align: middle;
}
.story_topic div, .story_info div {
    font-size: 0.8em;
    color: #888;
}
.story_text {
}
.story_icon {
}
.story_icon img {
    vertical-align: top;
    height: 24px;
    width: 24px;
    opacity: 0.3;
}
.story_info {
}
.story_user {
    font-weight: bold;
    font-size: 0.9em;
}



/* ---- */
#trends_col {
    font-size: 0.875em;
    font-weight: bold;
    padding: 12px 0;
    margin-top: 4px;
    margin-bottom: 4px;
}
#trends_col h2 {
    padding: 0 8px;
}
#trends_col ul {
    padding: 0 8px;
    border-top: 1px solid #ddd;
    background-color: #eee;
}
#trends_col li {
    padding-top: 8px;
}
#trends_col a {
    color: #258;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/* ---- */
#footer {
    border-top: 1px solid #eee;
    padding: 8px 0 8px;
    font-size: 0.75em;
    color: #999;
    text-align: center;
    background-color: #f8f8f8;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #258;
}

.noshow{
  display: none;
}
.fbshare:hover {
    cursor: pointer;
}

#login_container h1{
  padding: 10px;
  font-size: 1em;
}
