body,div.body,div.preview,img.tweetuser{background-color:#fff;}
#inagistpower,#inagistheading{background-color:#FFF;color:#fff;-moz-border-radius: 0px 0px 0px 0px;}
a, a:visited, a:link, td.text a{color:#313428;}

div#tweets div.body{
-moz-box-shadow:1px 2px #AAAAAA;
background-color:#EEEEEE;
border-bottom:1px solid #F7F6F0;
margin:0 0 5px 0px;
}

div#tweets div.body:hover{
	background-color:#F7F6F0;
}

#inagistpower{
border-top:1px dotted #CCCCCC;
padding:8px 0px 7px 0px;
}

#inagistheading{
border-bottom:1px dotted #CCCCCC;
color:#F68D1F;
font:600 20px 'Lucida Grande',Arial,Helvetica,sans-serif;
letter-spacing:-1px;
padding:5px 0px 5px 0px;
text-decoration:none;
text-align: left;
left:15px;
}

#tweets{
	padding-left:15px;
	width:600px;
	margin-top: 13px;
	margin-left:3px;
	border:0px solid #eee;
}

div#tweets div.body {
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
}

table.tweets td.text,div.preview div.msg,td.meta span.time,div.preview div.msg span.time{color:#333;}

#leftpane {
padding-bottom:0px;
width:auto;
}

#leftpane #tweets {
margin-left:0;
padding-left:10px;
width:615px;
}

/* http://inagist.com/netroy/css/common.css */
td.text div {
min-height:35px;
}

tr.meta, td.meta, td.action {
padding: 0 3px;
}

/* http://inagist.com/netroy/css/main.css */
table.tweets td.text {
padding: 3px;
}
